<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119571998491-jsbd99d36ug98q6k9q81cjko23ovc82b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119571998491-jsbd99d36ug98q6k9q81cjko23ovc82b</string>
	<key>API_KEY</key>
	<string>AIzaSyCJY17kQiaYhocnYSLP_2wnMwEUmHr3Qks</string>
	<key>GCM_SENDER_ID</key>
	<string>119571998491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.edu.utng.christian.Elections</string>
	<key>PROJECT_ID</key>
	<string>elections-e489c</string>
	<key>STORAGE_BUCKET</key>
	<string>elections-e489c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119571998491:ios:71983b835c5dd3e9</string>
	<key>DATABASE_URL</key>
	<string>https://elections-e489c.firebaseio.com</string>
</dict>
</plist>